DJANGO_SETTINGS_MODULE=config.settings.production
SECRET_KEY=trocar-por-chave-segura

# Em Docker: DB_HOST=db | Fora do Docker (legado): 127.0.0.1
DB_HOST=db
DB_PORT=5432
DB_NAME=universidade_money
DB_USER=universidade_user
DB_PASSWORD=trocar-senha

ALLOWED_HOSTS=universidade.moneypromotora.com.br
CSRF_TRUSTED_ORIGINS=https://universidade.moneypromotora.com.br
CORS_ALLOWED_ORIGINS=https://universidade.moneypromotora.com.br

STATIC_ROOT=/data/static
MEDIA_ROOT=/data/media
