DJANGO_SETTINGS_MODULE=config.settings.production
SECRET_KEY=trocar-por-chave-segura-na-vps

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=universidade_money
DB_USER=universidade_user
DB_PASSWORD=trocar-na-vps

ALLOWED_HOSTS=universidade.moneypromotora.com.br
CSRF_TRUSTED_ORIGINS=https://universidade.moneypromotora.com.br
CORS_ALLOWED_ORIGINS=https://universidade.moneypromotora.com.br

STATIC_ROOT=/var/www/universidade/static
MEDIA_ROOT=/var/www/universidade/media
